<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% capture about %}{% include about-content.md %}{% endcapture %}
                    {{ about  | markdownify }}
                </div>
            </div>
            <div class="row" style="margin-top: 2rem">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2012</h4>
                                    <h4 class="subheading">Van bedrijfskunde naar IT’er</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Ik ben opgeleid als Technisch Bedrijfskundige aan de Hogeschool van Arnhem en Nijmegen.
                                         Jarenlang dacht ik dat ik bij grote bedrijven processen zou gaan verbeteren en zo een bijdrage kon leveren aan
                                         hun succes. Na een paar jaar studeren en daarna afstuderen was het dan eindelijk zo ver. Ik mocht een baan gaan kiezen
                                         waar ik superblij van zou worden en bovendien nog veel zou gaan verdienen ook…. Niet dus….
                                    </p>
                                    <p class="text-muted">
                                        Ik kwam van school in 2011, midden in een economische depressie. Wie zat er nou te wachten op net afgestuurde
                                        procesverbeteraars met nul ervaring? Maar, ik werd af en aan gebeld en gemaild door recruiters die wel een IT'er
                                        in mij zagen: een sector waar bedrijven nog wel nieuwe mensen in dienst namen. Toevallig had ik na mijn middelbare school
                                        eerst een IT-beheeropleiding gedaan op het Technisch College in Ede. Ik pakte de kans en ging aan de slag als
                                        applicatiebeheerder (service desk).
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>januari 2013</h4>
                                    <h4 class="subheading">Een nieuwe kans</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Het was toch mijn ding niet en ik werd ook nog boventallig verklaard. Was ik zo’n minkukel? Voegde ik dan niks toe?
                                        Heb ik hier al die tijd voor geleerd? Is dit het dan? Wat nu? Allemaal vragen die naar boven kwamen.
                                        Heel eerlijk gezegd bleef ik daar wel even mee zitten, maar plots kreeg het een wending.
                                        Ik kwam via LinkedIn in contact met de werkgever die mijn leven veranderde: een nieuwe kans!
                                        </br></br>
                                        De nieuwe werkgever gaf mij de mogelijkheid om me meer in een technische richting te ontwikkelen.
                                        Beginnend met technisch applicatiebeheer voor klanten, maar met het oog op een rol als technisch consultant.
                                        Dit alles op het gebied van softwareontwikkeling. Hiervoor moest ik worden geschoold tot softwareontwikkelaar.
                                        De applicaties waren vooral in .NET waardoor dit een logische start was. Op dag één was ik verkocht.
                                        Ik vond het zo cool om met een aantal regels code en wat gepuzzel een applicatie neer te zetten ,
                                        dat ik zo ongeveer elke avond druk bezig was met het verdiepen in hoe dit dan werkte en wat ik er allemaal
                                        precies mee kon doen. Vooral de verschillende manieren en het uitzoeken wat het meeste efficiënt was met zo min mogelijk
                                        code om te onderhouden was superboeiend.
                                        </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>juni 2013</h4>
                                    <h4 class="subheading">Bouwen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Na een tijdje te hebben geleerd en ontdekt mocht ik dit in de praktijk gaan toepassen. Software bouwen op basis van een
                                         klant(en)wens. Toen was ik helemaal verkocht! Klantvraagstukken (business requirements) uitvragen en en dan een
                                         stuk(je) software bouwen. FANTASTISCH!!! Ik kon nu echt iets maken waar andere mensen wat aan hadden.
                                         En ik vond het nog leuk en superinteressant ook. Dit was het: Waarde toevoegen door middel van een hobby.
                                         Onderzoeken hoe bedrijfsprocessen in elkaar steken, hoe ze kunnen verbeteren en wat er voor nodig is.
                                         Mijn bedrijfskundige achtergrond kwam samen met de IT. Het is een mooi vraagstuk: ben je op zoek is naar een
                                         verbetering in het bedrijfsproces of ben je op zoek naar software om het te automatiseren?
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 - 2018</h4>
                                    <h4 class="subheading">Verduidelijken en versimpelen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Naast de interesse voor het aansluiten van software aan de klantwens is het me in de loop van tijd
                                         ook enorm gaan boeien hoe je dit proces nou zo efficiënt mogelijk kan inrichten, want als iets een complex proces is,
                                         dan is het softwareontwikkeling wel. Daarbij komt nog eens dat de verschillende stappen in dit proces over het algemeen
                                         ook nog eens verschrikkelijk veel tijd kosten. Het verduidelijken en versimpelen van dit proces is daarom heel
                                         belangrijk om het voor voorspelbaar en controleerbaar te houden. Voor klanten ben ik ook altijd hier mee bezig:
                                         wat kunnen zij hieraan verbeteren?
                                        </br></br>
                                        Ook softwarepakketten zoals een Salesforce en Microsoft Dynamics kunnen je hierbij helpen. Door out-of-the-box al
                                         veel tools in te zetten om je bedrijfsprocessen te automatiseren met behulp van wat klik- en sleepwerk. Dit is vooral
                                         mooi voor bedrijven die groeiende zijn en nog niet het budget hebben om softwareontwikkelaar in te huren. Aan de andere
                                         kant leveren deze ook weer andere problemen op, want om die platformen stabiel te houden komen er een heleboel
                                         regeltjes bij waaraan je je moet houden. Door al die tools raakt de businesslogica heel versplinterd waardoor het weer
                                         onbeheersbaar wordt, wat gebeurd er nou precies wanneer, en vooral WAAROM?
                                        </br></br>
                                        Mijn klanten wil ik dan ook altijd helpen met de volgende vraagstukken:
                                        </br></br>
                                        •	Hoe moet ik mijn bedrijfsprocessen automatiseren en waarom?</br>
                                        •	Wat is de beste manier om mijn bedrijfsprocessen te automatiseren?</br>
                                        •	En hoe ik dit zo goed mogelijk op een manier die bij mijn bedrijf past?
                                    </p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Onderdeel worden
                                    <br>van mijn
                                    <br>verhaal?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>